@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand-blue: #00454A;
  --brand-yellow: #D4A10F;
}

.brand-blue{
  color: var(--brand-blue);
}
.brand-yellow{
  color: var(--brand-yellow);
}
.bg-brand-blue{
  background-color: var(--brand-blue);
}
.bg-brand-yellow{
  background-color: var(--brand-yellow);
}

/* header{
  background: linear-gradient(180deg, #00454A, black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.358);
  background-blend-mode: darken;
  background-image: url(/img/bg.png);
} */

.header-text{
  text-shadow: 4px 4px 16px black;
  /* -webkit-text-stroke: 2px rgba(0, 0, 0, 0.374); */
}

#query-form-section{}

.pkgcard{
  min-width: 330px;
  width: min-content;
}

.pkgcard .imgHolder{
  aspect-ratio: 10/8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-pattern{
  background-image: url(/img/bg-vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.bg-pattern-dark{
  background-image: url(/img/bg-vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #00454a;
  background-blend-mode: multiply;
}
.bg-pattern-light{
  background-image: url(/img/bg-vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #D4A10F;
  background-blend-mode: multiply;
}

#mobile-menu.open{
  left: 0;
}

#yt-video-iframe{
  aspect-ratio: 16/9;
}

#special-offer-img-wrapper{
  width: 80vw;
  aspect-ratio: 1/1;
}

.holyplaces-container > div:nth-child(even){
  flex-direction: row-reverse;
}

@media screen and (min-width: 1024) {
  #yt-video-iframe{
    max-width: 700px;
  }
  #special-offer-img-wrapper{
    width: 300px;
    height: 300px;
    /* aspect-ratio: 5/3; */
  }
}

.btn .btn-arrow{
  transition: all 0.3s;
  opacity: 0.5;
  right: 50px;
}
.btn:hover .btn-arrow{
  opacity: 1;
  transform: translateX(20px);
}

#header-text-wrapper{
  background-color: rgba(0, 0, 0, 0.37);
}

.box-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}